<div>
  <h1> class="<text-2x1 font-bold mb-6>Lista de Post</h1>
  <%= link_to"crear nuevo post", new_post_path, class: "text-whiteb bg-indigo-600 hover:bg-indigo-700 px-4 py-2 rounded-ed" %>
  <div class="mt-5">
    <% @post.each do |post|%>
      <%= render "post", post: post %>
    <% end %>
  </div>
</div>